<header>
  <h1><a href="{{ include.post.url | relative_url }}">{{ include.post.title }}</a></h1>
  {%- assign date_format = site.date_format | default: "%B %d, %Y" -%}
  <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date: date_format }}</time>
  {%- unless include.preview -%}
    {%- assign published_on = include.post.date | date: "%Y-%m-%d" -%}
    {%- assign updated_on = include.post.last_modified_at | date: "%Y-%m-%d" -%}
    {%- if updated_on and updated_on != published_on %} · Updated <time datetime="{{ include.post.last_modified_at | date_to_xmlschema }}">{{ include.post.last_modified_at | date: date_format }}</time>{% endif -%}
  {%- endunless -%}
</header>
